/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 html, body, .block {
  height: 98%;
}

p {
  font-family: 'IBM Plex Serif', serif;
  /* font-family: 'IBM Plex Sans', sans-serif; */
  -webkit-font-smoothing: antialiased
}

h1, h2, h3, h4, h5, h6, h7 {
  /* font-family: 'IBM Plex Serif', serif; */
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  letter-spacing: -0.5px;
  -webkit-font-smoothing: antialiased
}
.monotype{
  font-family: 'Cousine', monospace;
}

.small{
  font-size: 0.87rem !important;
}

.grey-text{
  color: #899197;
}

.clickable{
  cursor: pointer;
}

.landing{
  /* height: calc(100vh - 48px); */
  height: 100%;
  min-height: fit-content;
  background-color: #f7f7f7;
}

.landing-blurb{
  /* display: flex; */
  /* margin-right: auto; */
  /* margin-left: 4%; */
  padding-top: 5%;
  min-height: 71%;
  vertical-align: middle
}
.landing h2{
  font-size: 3.2rem
}

.landing-blurb h4{
  line-height: 1.3125em;
}

.landing-blurb h5{
  /* color: #898E91; */
  /* margin-top: 112px; */
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 1.5em;
}

.landing-paragraph{
  font-size:1.3em;
  line-height: 160%;
  letter-spacing:-0.4px;
  /* font-weight: 400 */
  color: #231F20
  /* color: #6B757D */
}

/*  q */

.landing-paragraph b{
  font-weight: 700;
  /* opacity: 0.6; */
  color:#938CC7;
  /* color: #485163; */
  /* color:#3341D9; */
  font-family: 'IBM Plex Sans', sans-serif;
}

h2.landing-paragraph-thin{
  margin-bottom: 0px;
  margin-top: 0px;
}

.landing-paragraph-thin{
  line-height: 160%;
  letter-spacing:-0.4px;
  font-weight: 400;
  color: #231F20
}

.landing-logo {
  margin-top:6.5%;
  margin-bottom:6.5%;
  /* text-align: center; */
  /* margin-left:-75px */
}


.landing-logo img {
  height: 44px;
  /* text-align: center; */
  /* margin-left:-75px */
}

#landing .show_more i{
  color: #231F20
}
#landing .show_more {
  opacity: 0.5;
  margin: 48px 0px;
}
#landing .show_more:hover {
  opacity: 1;
}

#magic-menu2{
  height: 12vh;
  min-height: 96px;
  position: absolute;
  z-index: 3;
  transition: all 0.5s ease;
  height: 48px;
  box-shadow: none; 
  background-color: #fff;
  color:#231F20;
  border-style: solid;
  border-width: 1px;
  border-color: #f4f4f4
}

#magic-menu2.shrink{
  min-height: 48px;
  height: 48px;
  position: fixed;
  top: 0px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); 
  transition: all 0.5s ease;
}

#magic-menu2.shrink.up{
  top: -60px;
  transition: all 0.5s ease;
}

#magic-menu2 .navbar-logo img{
  /* display: block; */
  height:0px;
  margin: 12px;
  float: right;
  opacity: 0;
  transition: all 0.5s ease;
}

#magic-menu2.shrink .navbar-logo img{
  /* display: block; */
  height: 18px;
  opacity: 1;
  transition: all 0.5s ease;
}

#magic-menu2 .navbar-breadcrumb h6{
  font-size: 1.5rem;
  transition: all 0.5s ease;
}

#magic-menu2.shrink .navbar-breadcrumb h6{
  font-size: 1.15rem;
  transition: all 0.5s ease;
}


.navbar-contents{
  display: flex;
  height: 100%;
  align-items: center
}

.navbar-breadcrumb{
  margin-left: -2px;
}



#projects{
 position: relative;
 margin-top: 48px;
 display: block;
 height: fit-content;
 margin-bottom: 160px;
}

#projects .sticky-bg2{
  /* background-color: #B5C4E7; */
  /* background-color: #4A4A4A; */
  background-color:  #fff;
  opacity: 0;
  height: 100%;
  width: 100%;
  position: absolute ;
  top: -53vh;
  z-index:-3;
  transition: all 1.5s ease;
}

#projects .sticky-bg2.show{
  /* top:0; */
  /* background-color: #E0E0E0; */
  opacity: 1;
  transform: translateY(53vh);
  transition: all 2s ease;
}

#projects .sticky-bg2.fix{
  background-color: #f7f7f7;
  top:0;
  position: fixed ;
  opacity: 1;
  /* background-color: #B5C4E7;
  transform: translateY(53vh);
  transition: all 2s ease; */
}

#projects .container,
#projects .case-studies-subcontainer{
  background: rgba(255, 255, 255,0);
  position: relative
}

#projects .case-studies-subcontainer{
  /* top: -43vh */
  position: relative;
  padding-top: 104px;
}

#projects h4
{
  font-size: 1.5em;
  font-weight: 600;
  color: #485163
}

#projects .row{
  background-color: white
}

#projects .row .col {
  padding: 0;
}


#magic-menu{
  top: -48px;
  position: fixed;
  z-index: 3;
  transition: all 0.5s ease;
  height: 48px;
  box-shadow: none; 
  background-color: #f7f7f7;
  color:#231F20
}

#magic-menu.show{
  transform: translateY(48px);
  /* top: 0px; */
  /* position: fixed; */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); 
  
  z-index: 3;
  transition: all 0.5s ease;
}

.case-studies-title-container{
  background-color:#fff;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 32px;
  position: relative;
  min-height: 96px;
  height:12%;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14); 
  opacity: 1;
}

.case-studies-title{
  /* display: flex; */
  position: absolute !important;

  
}

.case-studies-subcontainer{
  margin-top: 16px;
}


.case-studies.card{
  /* margin-left: 10px;
  margin-right: 10px; */
  padding: 16px;
  border-radius: 0px;
  box-shadow: none;
  /* box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.08); */
  transition: transform 0.5s, box-shadow 0.5s;
  margin: 0
}

.case-studies.card:hover{
  box-shadow: 0 -1px 20px 0 rgba(0, 0, 0, 0.14);
  /* 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0px rgba(0, 0, 0, 0.2); */
  transform: translateY(-2px);
  transition: transform 0.5s, box-shadow 0.5s;
  z-index: 1
}

 #projects .case-studies:hover h6.card-title{
  color: #231F20;
  /* color: red; */
  transition: all 0.5s;
}
.case-studies.card .card-content{
  margin-bottom: 16px;
  padding: 0px
}

.case-studies .card-image{
  height: 352px
}

.case-studies.mini .card-image{
  height: 208px
}


.case-studies .card-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 0px
}

.case-studies-images img{
  width:100%;
  padding:4px 8px 4px 0px
}


#projects .case-studies h6.card-title
{
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.05;
  margin-top: 16px;
  /* margin-bottom: 12px; */
  color: #6B757D;
  /* font-family:'Cousine', monospace; */
}


#projects .case-studies h7.card-subtitle{
  font-size: 1.125em;
  font-weight: 300;
  letter-spacing: 0px;
  margin-top: 8px;
  /* margin-bottom: 8px */
  /* font-family: 'IBM Plex Serif', serif; */
}

#projects .case-studies p.card-paragraph{
  margin: 16px 0px; 
}

footer.landing-footer{
  /* position: relative ; */
  /* position: sticky; */
  position: fixed;
  bottom: -1400px ;
  z-index: 3;
  background-color: #f7f7f7;
  border-style: solid;
  border-color: #f4f4f4;
  border-width: 1px;
  transition: all 1s ease;
  width: 100%
}

footer.landing-footer.show{
  position: fixed;
  bottom: 0;
  /* transform: translateY(15vh); */
  transition: all 1s ease;
}

.footer{
  padding: 50px 0px;
  margin-bottom: 0px;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  /* flex-direction: row; */
}

.footer h7{
  font-size: 0.93em;
  font-weight: 400;
  letter-spacing: -0.0px;
  float: left;
  color: #A6ACB1;
  
}

.footer h6 > span{
  padding: 0 8px;
  color: #A6ACB1;
  letter-spacing:0;
  font-weight: 500;
  width: 33.33%;
  /* display: inline-block; */
  /* transition: all 0.5s ease; */
}

.footer h6 > span a:hover{
  font-weight: 600;
  color: #231F20;
  transition: all 1s ease;
  /* width: 33.33% */
}

.footer h6 > span a{

  color: #A6ACB1;

}

.footer-links{
  display: flex;
  margin-top: 0px;
  width: 200px
}






.pin-top {
    position: relative;
  }

.pin-bottom {
  position: relative;
}

.pinned {
  position: fixed !important;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}