<script type="cartocss/text" id="cartocss">
  /** torque visualization */
     @input: 42;
     @weight: 1;

     Map {
      -torque-frame-count:1;
      -torque-animation-duration:1;
      -torque-time-attribute:"time";
      -torque-aggregation-function: "((1*(avg(r3_railstation)/(15-5)))+(1*(avg(r3_shoppingcentr)/(20-0)))+(1*(avg(r3_re1)/(5-0)))+(1*(avg(r3_hospital)/(13-0)))+(1*(avg(r3_primaryschools)/(9-8))))*10/5";
      // "(avg(r3_railstation)/(15-1))+(avg(r3_shoppingcentr)/(20-1))+(avg(r3_re1)/(5-1))+(avg(r3_primaryschools)/(13-1))+(avg(r3_hospital)/(9-1))"
      -torque-resolution:8;
      -torque-data-aggregation:linear;
      }

     #parra_grid2{
        // image-filters: colorize-alpha(cyan, lightgreen, yellow , orange, red);
        // marker-file: url("http://s3.amazonaws.com/com.cartodb.assets.static/alphamarker.png");
        comp-op: lighter;
        marker-fill-opacity: 0.7;
        marker-line-color: #FFF;
        marker-line-width: 0;
        marker-line-opacity: 0.7;
        marker-type: ellipse;
        // marker-width:[value];
        marker-width:6;
        marker-fill: #FF9900;
    }

#parra_grid2[value>=1] {marker-fill: #800026; } 
#parra_grid2[value>=2] {marker-fill: #bd0026; } 
#parra_grid2[value>=3] {marker-fill: #e31a1c; } 
#parra_grid2[value>=4] {marker-fill: #fc4e2a; } 
#parra_grid2[value>=5] {marker-fill: #fd8d3c; } 
#parra_grid2[value>=6] {marker-fill: #feb24c; } 
#parra_grid2[value>=7] {marker-fill: #fed976; } 
#parra_grid2[value>=8] {marker-fill: #ffeda0; } 
#parra_grid2[value>=9] {marker-fill: #ffffcc; } 
#parra_grid2[value>=10] {marker-fill: #f7fcf0; }




    </script>